<div class="cluster">
    <div class="cluster__place">{{ place }}</div>
    <div class="cluster__address js-cluster-coords" data-coords="{{ coordinates}}">{{ address }}</div>
    <div class="cluster__comment">{{ comment }}</div>
    <div class="cluster__footer">
        <div class="cluster__date">{{ date }}</div>
        <div class="cluster__time">{{ time }}</div>
    </div>
</div>